body {
  font-family: 'Asap Condensed', sans-serif;
  background-color:#F5F2F2;
  text-align:center;
}

#map {
  height: 500px;
  width: 100%;
  border: solid white 2px;
}

#pano {
  width: 100%;
  height: 200px;
}

#bigFont {
  font-size: 300%;
}

#sideBar {
  background-color:#ECE6E6;
  border: solid #E6E1E1 2px;
}

#topBar {
  margin: 10px 0px 10px 0px;
  border-bottom:solid black 1px;
  padding:5px
}

#search {
  margin: 10px 0 0 0;
}

#footer {
  background-color:white;
}

#reviewList {
  margin-bottom: 5px;
}

.sideBarElements:hover {
  background-color: #2D3936;
  color: white;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.sideBarElements {
  padding: 7px 0 7px 0;
  border: solid black 1px;
  background-color: #787373;
  border: solid white 1px;
  color: #F5F2F2;
}

.zomatoPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
